In [1]:
import sqlite3 as sql
import pandas as pd

In [11]:
database = 'sqlPokus2.db'
connection = sql.connect(database)

In [10]:
query = '''SELECT * from carstest'''

df = pd.read_sql_query(query, connection)

### This works! It creates a connection btw what we created in Python and what we want to store in SQL

In [13]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [24]:
x=pd.DataFrame([[5,8],[0, 3], [1, 11]])

x.to_sql('mynewname4', connection)

What more we want is to include our new data to the table we have already created for to store the previous data. Or: find an easy way to merge the tables.

In [25]:
x.to_sql('mynewname4', connection, if_exists='append')

### Now back. We want to see what we have stored in SQL.

In [41]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [43]:
df = pd.read_sql_query('''SELECT * from mynewname4''', connection)

In [44]:
df

    index   0   1
0       0   2   2
1       1   5   3
2       2   3   5
3       0   2   2
4       1   5   3
5       2   3   5
6       0   2   2
7       1   5   3
8       2   3   5
9       0  88  88
10      1   5   3
11      2   3   5
12      0   5   8
13      1   0   3
14      2   1  11

In [45]:
len(df)

15

# THE END

### TRY
This test whether it works for one link

In [55]:
from bs4 import BeautifulSoup
import math
import tqdm
import json
import pandas as pd
import datetime
import time

import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.core.debugger import Tracer

In [56]:
def getSoup(link):
    r = requests.get(link)
    r.encoding = 'UTF-8'
    return BeautifulSoup(r.text,'lxml')

In [59]:
def getAllFeatures(link):
    soup = getSoup(link)
    zs = soup.findAll('dt')
    return [z.text for z in zs]

Features = getAllFeatures('https://www.autoscout24.de/angebote/volkswagen-tiguan-1-4-tsi-169-ohne-anzahlung-ahk-benzin-blau-7caef8fe-fcdd-464f-adb4-aa6a65a753e4?recopos=1&ipl=detailpage-engine-itemBased&ipc=recommendation&cldtsrc=inactive-page&isCarousel=false')
Features

['Zustand',
 'Fahrzeughalter',
 'HU/AU neu',
 'Garantie',
 'Scheckheftgepflegt',
 'Nichtraucherfahrzeug',
 'Marke',
 'Modell',
 'Angebotsnummer',
 'Erstzulassung',
 'Außenfarbe',
 'Lackierung',
 'Farbe laut Hersteller',
 'Innenausstattung',
 'Karosserieform',
 'Anzahl Türen',
 'Sitzplätze',
 'Schlüsselnummer',
 'Länderversion',
 'Getriebeart',
 'Hubraum',
 'Leergewicht',
 'Antriebsart',
 'Kraftstoff',
 'KraftstoffverbrauchWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem "Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter\xa0www.dat.de\xa0unentgeltlich erhältlich ist.',
 'CO2-EmissionenWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem "Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter\xa0www.dat.de\xa0unentgeltlich erhältlich ist.',
 'Schadstoffklasse',
 'Feinstaubplakette',
 '\n\nMarke, Modell\n',
 '\n\nErstzulassung\n',
 '\n\nKraftstoff\n',
 '\n\nLeistung\n',
 '\n\nKilometerstand\n',
 '\n\nGetriebe\n',
 '\n\nKraftstoffverbr.*\n',
 '\n\nVerkäufer\n',
 '\n\nAußenfarbe\n',
 '\n\nAusstattung\n',
 '\n\nZustand\n',
 '\n\nRegion\n',
 '\n\nServiceleistungen\n',
 '\n\nSpezielle Umbauten\n',
 '\n\nModellvarianten\n',
 '\n\nBilder\n',
 '\n\nFahrzeugbeschreibung\n']

In [61]:
def getAllValues(link):
    soup = getSoup(link)
    zs= soup.findAll('dd')
    return [z.text[1:-1] for z in zs]

links = getAllValues('https://www.autoscout24.de/angebote/volkswagen-tiguan-1-4-tsi-169-ohne-anzahlung-ahk-benzin-blau-7caef8fe-fcdd-464f-adb4-aa6a65a753e4?recopos=1&ipl=detailpage-engine-itemBased&ipc=recommendation&cldtsrc=inactive-page&isCarousel=false')
links

['Gebraucht',
 '1',
 'Ja',
 '12 Monate',
 '',
 '',
 'Volkswagen',
 'Tiguan',
 '233-13740',
 '2013',
 'Blau',
 'Metallic',
 'Night Blue Metallic',
 'Stoff, Schwarz',
 'SUV/Geländewagen/Pickup',
 '4',
 '5',
 '0603/ATN',
 'Deutsche Ausführung',
 'Schaltgetriebe',
 '1.390 cm³',
 '1.426 kg',
 'Front',
 'Super 95',
 '6,5 l/100 km (komb)\n8,3 l/100 km (innerorts)\n5,5 l/100 km (außerorts)',
 '154 g CO2/km (komb)',
 'Euro 5',
 '4 (Grün)',
 '\nVolkswagen Tiguan\n',
 '\n2013\n',
 '\nBenzin\n',
 '\n90 kW / 122 PS\n',
 '\n107.820 km\n',
 '\nSchaltgetriebe\n',
 '\n6.5 l/100 km (komb)\n',
 '\nHändler\n',
 '\nBlau\n',
 '\n34 Ausstattungsmerkmale\n',
 'Tipp:\nPrüfen Sie das Fahrzeug bei der Besichtigung auf Mängel. Generell gehen wir bei allen Angeboten von einem guten Fahrzeug-Zustand aus.',
 'Tipp:\nRegionale Angebots- und Nachfrageunterschiede können den Preis beeinflussen.',
 'Tipp:\nErkundigen Sie sich beim Verkäufer nach zusätzlichen Services oder Garantien, die unter Umständen einen höheren Preis rechtfertigen.',
 'Tipp:\nPrüfen Sie das Fahrzeug bei der Besichtigung auf spezielle Umbauten, die unter Umständen einen höheren Preis rechtfertigen.',
 'Tipp:\nSpezielle Ausstattungspakete, Modellvarianten und Sportversionen fließen aktuell nicht in die Bewertung ein.',
 'Tipp:\nInseratsbilder werden nicht in die Preisbewertung mit einbezogen, da eine zuverlässige Auswertung nicht möglich ist.',
 'Tipp:\nDie Beschreibung des Fahrzeugs fließt nicht in die Bewertung ein, da eine zuverlässige Auswertung nicht möglich ist.']

In [65]:
def getAllValues(link):
    soup = getSoup(link)
    ys= soup.findAll('dd')
    return [y.text[1:-1] for y in ys]

Values = getAllValues('https://www.autoscout24.de/angebote/volkswagen-tiguan-1-4-tsi-169-ohne-anzahlung-ahk-benzin-blau-7caef8fe-fcdd-464f-adb4-aa6a65a753e4?recopos=1&ipl=detailpage-engine-itemBased&ipc=recommendation&cldtsrc=inactive-page&isCarousel=false')
Values

['Gebraucht',
 '1',
 'Ja',
 '12 Monate',
 '',
 '',
 'Volkswagen',
 'Tiguan',
 '233-13740',
 '2013',
 'Blau',
 'Metallic',
 'Night Blue Metallic',
 'Stoff, Schwarz',
 'SUV/Geländewagen/Pickup',
 '4',
 '5',
 '0603/ATN',
 'Deutsche Ausführung',
 'Schaltgetriebe',
 '1.390 cm³',
 '1.426 kg',
 'Front',
 'Super 95',
 '6,5 l/100 km (komb)\n8,3 l/100 km (innerorts)\n5,5 l/100 km (außerorts)',
 '154 g CO2/km (komb)',
 'Euro 5',
 '4 (Grün)',
 '\nVolkswagen Tiguan\n',
 '\n2013\n',
 '\nBenzin\n',
 '\n90 kW / 122 PS\n',
 '\n107.820 km\n',
 '\nSchaltgetriebe\n',
 '\n6.5 l/100 km (komb)\n',
 '\nHändler\n',
 '\nBlau\n',
 '\n34 Ausstattungsmerkmale\n',
 'Tipp:\nPrüfen Sie das Fahrzeug bei der Besichtigung auf Mängel. Generell gehen wir bei allen Angeboten von einem guten Fahrzeug-Zustand aus.',
 'Tipp:\nRegionale Angebots- und Nachfrageunterschiede können den Preis beeinflussen.',
 'Tipp:\nErkundigen Sie sich beim Verkäufer nach zusätzlichen Services oder Garantien, die unter Umständen einen höheren Preis rechtfertigen.',
 'Tipp:\nPrüfen Sie das Fahrzeug bei der Besichtigung auf spezielle Umbauten, die unter Umständen einen höheren Preis rechtfertigen.',
 'Tipp:\nSpezielle Ausstattungspakete, Modellvarianten und Sportversionen fließen aktuell nicht in die Bewertung ein.',
 'Tipp:\nInseratsbilder werden nicht in die Preisbewertung mit einbezogen, da eine zuverlässige Auswertung nicht möglich ist.',
 'Tipp:\nDie Beschreibung des Fahrzeugs fließt nicht in die Bewertung ein, da eine zuverlässige Auswertung nicht möglich ist.']

In [66]:
l = []
for x in range(0,1):
    d = { Features[0]:Values[0],
    Features[1]:Values[1],
    Features[2]:Values[2],
    Features[3]:Values[3],
    Features[4]:Values[4],
    Features[5]:Values[5],
    Features[6]:Values[6],
    Features[7]:Values[7],
    Features[8]:Values[8],
    Features[9]:Values[9],
    Features[10]:Values[10],
    Features[11]:Values[11],
    Features[12]:Values[12],
    Features[13]:Values[13],
    Features[14]:Values[14],
    Features[15]:Values[15],
    Features[16]:Values[16],
    Features[17]:Values[17],
    Features[18]:Values[18],
    Features[19]:Values[19],
    Features[20]:Values[20],
    Features[21]:Values[21],
    Features[22]:Values[22],
    Features[23]:Values[23],
    Features[24]:Values[24],
    Features[25]:Values[25],
    Features[26]:Values[26],
    Features[27]:Values[27],
    Features[28]:Values[28],

        }
    l.append(d)
l

[{'Zustand': 'Gebraucht',
  'Fahrzeughalter': '1',
  'HU/AU neu': 'Ja',
  'Garantie': '12 Monate',
  'Scheckheftgepflegt': '',
  'Nichtraucherfahrzeug': '',
  'Marke': 'Volkswagen',
  'Modell': 'Tiguan',
  'Angebotsnummer': '233-13740',
  'Erstzulassung': '2013',
  'Außenfarbe': 'Blau',
  'Lackierung': 'Metallic',
  'Farbe laut Hersteller': 'Night Blue Metallic',
  'Innenausstattung': 'Stoff, Schwarz',
  'Karosserieform': 'SUV/Geländewagen/Pickup',
  'Anzahl Türen': '4',
  'Sitzplätze': '5',
  'Schlüsselnummer': '0603/ATN',
  'Länderversion': 'Deutsche Ausführung',
  'Getriebeart': 'Schaltgetriebe',
  'Hubraum': '1.390 cm³',
  'Leergewicht': '1.426 kg',
  'Antriebsart': 'Front',
  'Kraftstoff': 'Super 95',
  'KraftstoffverbrauchWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem "Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter\xa0www.dat.de\xa0unentgeltlich erhältlich ist.': '6,5 l/100 km (komb)\n8,3 l/100 km (innerorts)\n5,5 l/100 km (außerorts)',
  'CO2-EmissionenWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem "Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter\xa0www.dat.de\xa0unentgeltlich erhältlich ist.': '154 g CO2/km (komb)',
  'Schadstoffklasse': 'Euro 5',
  'Feinstaubplakette': '4 (Grün)',
  '\n\nMarke, Modell\n': '\nVolkswagen Tiguan\n'}]

In [69]:
Tiguan = pd.DataFrame(l)
Tiguan

,Zustand,Fahrzeughalter,HU/AU neu,Garantie,Scheckheftgepflegt,Nichtraucherfahrzeug,Marke,Modell,Angebotsnummer,Erstzulassung,...,Getriebeart,Hubraum,Leergewicht,Antriebsart,Kraftstoff,"KraftstoffverbrauchWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem ""Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen"" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter www.dat.de unentgeltlich erhältlich ist.","CO2-EmissionenWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem ""Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen"" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter www.dat.de unentgeltlich erhältlich ist.",Schadstoffklasse,Feinstaubplakette,"\n\nMarke, Modell\n"
0,Gebraucht,1,Ja,12 Monate,,,Volkswagen,Tiguan,233-13740,2013,...,Schaltgetriebe,1.390 cm³,1.426 kg,Front,Super 95,"6,5 l/100 km (komb)\n8,3 l/100 km (innerorts)\...",154 g CO2/km (komb),Euro 5,4 (Grün),\nVolkswagen Tiguan\n

Now let's send the DF to SQL :)

In [70]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [71]:
x=Tiguan

In [72]:
x.to_sql('mynewname5', connection, if_exists='append')

C:\Users\Radka\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

What is in my SQL now?

In [74]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [77]:
df = pd.read_sql_query('''SELECT * from mynewname5''', connection)

In [78]:
df

,index,Zustand,Fahrzeughalter,HU/AU neu,Garantie,Scheckheftgepflegt,Nichtraucherfahrzeug,Marke,Modell,Angebotsnummer,...,Getriebeart,Hubraum,Leergewicht,Antriebsart,Kraftstoff,"KraftstoffverbrauchWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem ""Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen"" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter www.dat.de unentgeltlich erhältlich ist.","CO2-EmissionenWeitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem ""Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen"" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH unter www.dat.de unentgeltlich erhältlich ist.",Schadstoffklasse,Feinstaubplakette,"\n\nMarke, Modell\n"
0,0,Gebraucht,1,Ja,12 Monate,,,Volkswagen,Tiguan,233-13740,...,Schaltgetriebe,1.390 cm³,1.426 kg,Front,Super 95,"6,5 l/100 km (komb)\n8,3 l/100 km (innerorts)\...",154 g CO2/km (komb),Euro 5,4 (Grün),\nVolkswagen Tiguan\n

# The whole process we need

So
1) scrape links 
2) save links to the SQL table LINKS
3) ask about x number of links and scrape info about those x cars
4) save those infos to sql table INFO

 1) scrape links

In [ ]:
ROGIER

In [ ]:
Just an example

In [79]:
links=['https://www.autoscout24.de/angebote/-30096ae7-eb6d-4fae-a234-72674d4c8c6a?imc=criteo-onsite&iml=detailpage',
      'https://www.autoscout24.de/angebote/-8d5e904e-da60-4940-af47-9d40d217abe0?imc=criteo-onsite&iml=detailpage']

In [80]:
links

['https://www.autoscout24.de/angebote/-30096ae7-eb6d-4fae-a234-72674d4c8c6a?imc=criteo-onsite&iml=detailpage',
 'https://www.autoscout24.de/angebote/-8d5e904e-da60-4940-af47-9d40d217abe0?imc=criteo-onsite&iml=detailpage']

2) save links to the SQL table LINKS

In [89]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [91]:
x=links
x = pd.DataFrame(x)

In [93]:
x.to_sql('LINKS', connection, if_exists='append')

3) ask about x number of links and scrape info about those x cars

In [94]:
database = 'secondtestdatabase.db'
connection = sql.connect(database)

In [106]:
df = pd.read_sql_query('''SELECT * from LINKS''', connection)

In [107]:
df

   index                                                  0
0      0  https://www.autoscout24.de/angebote/-30096ae7-...
1      1  https://www.autoscout24.de/angebote/-8d5e904e-...

In [108]:
del df['index']

In [112]:
df

                                                   0
0  https://www.autoscout24.de/angebote/-30096ae7-...
1  https://www.autoscout24.de/angebote/-8d5e904e-...

The question is how to delete ALL indexes!

In [122]:
df.iloc[1,:]

AttributeError: 'Series' object has no attribute 'text'